# Configuration file for BSDRadius' dump_packet server module.
# You can enable/disable the module in modules.conf
# To log all received authorization or accounting requests add
# "dump_packet" to contents of "modules" configuration option in
# bsdradiusd.conf sections ACCOUNTING and/or AUTHORIZATION.
# This configuration file is for configuring only special
# behavior of dump_packet server module. I mean - dumping failed and/or
# unhandled requests.


# Control module behavior here
[BEHAVIOR]

# Enable/disable logging failed accounting requests.
# This may be very useful to find out why some calls were not charged.
dump_failed_acct = yes

# Enable/disable logging failed authorization requests.
# Keep this setting on for easier debugging of client authorization problems
dump_failed_auth = yes

# Enable/disable logging unhandled accounting requests.
# It is VERY IMPORTANT to leave this setting on. Packets are considered as
# "unhandled" when there are not enough resources to process them. Then they
# should be dumped in file for later processing.
dump_unh_acct = yes

# Enable/disable logging unhandled authorization requests.
# Unhandled authorization requests usually are timed out because of lack
# of system resources. There's no point to keep them in standard situation.
dump_unh_auth = no
