<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>

<head>

<title>{$title}</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{\$DOCUMENTLINKS}

<script type="text/javascript">

{\$JSCRIPT}

</script>

</head>

<body>

<div id="logo">
	<!-- logo image goes here -->
</div>

<div id="menu-container">

	<ul id="main-menu">
		{\$MAINMENU}
	</ul>
	
</div>

<div id="atomic-menu">
	<ul>
		{\$ATOMIC}
	</ul>
	
	&nbsp;
</div>

<div id="main">
	{\$MAIN}
</div>

<!--<div id="footer">
	<hr />
	&copy; <a href="http://www.datatechlabs.com">Data Tech Labs</a>
</div>-->

</body>

</html>
